{% extends "base.html" %}
{% load embed_video_tags %}

{% block title %}
  {{ video.title }}
{% endblock %}

{% block body %}
  <div class="container">
    <div class="video">
      <div class="video_view">
        {% video video.url %}
      </div>
      <div class="video_meta">
        <h1 class="video_title">{{ video.title }}</h1>
        <div class="video_tags">
          {% for tag in video.tags.all %}
            <a href="{% url 'video_list' %}?tags={{ tag.slug }}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
