{% extends "base.html" %}
{% load embed_video_tags %}

{% block title %}Видеозаписи{% endblock %}

{% block body %}
  <div class="video-list">
    {% for video in videos %}
      {% video video.url as embed %}
        <div class="video-list_item">
          <img class="video-list_item_image" src="{{ embed.thumbnail }}" alt="{{ video.title }}">
          <a class="video-list_item_title" href="{% url 'video_detail' pk=video.pk %}">{{ video.title }}</a>
        </div>
      {% endvideo %}
    {% endfor %}
  </div>
{% endblock %}
